.contacts {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-right: 28px;
  margin-left: auto;
  padding-bottom: 7px;
  width: 241px;
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-top: 10px;
    padding-bottom: 0;
    width: 460px;
  }

  @media screen and (min-width: 1600px) {
    margin-top: 0;
    margin-right: 150px;
    width: 680px;
  }
}

.contactsImage {
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    margin-bottom: 5px;
  }
  @media screen and (min-width: 1600px) {
    margin-bottom: 10px;
  }
}

.contactsImage1 {
  width: 17px;
  height: 17px;
  @media screen and (min-width: 768px) {
    width: 27px;
    height: 29px;
  }
  @media screen and (min-width: 1600px) {
    width: 35px;
    height: 34px;
  }
}

.contactsImage2 {
  width: 19px;
  height: 22px;
  @media screen and (min-width: 768px) {
    width: 33px;
    height: 23px;
  }
  @media screen and (min-width: 1600px) {
    width: 43px;
    height: 28px;
  }
}

.contactsImage3 {
  width: 15px;
  height: 15px;
  @media screen and (min-width: 768px) {
    width: 28px;
    height: 29px;
  }
  @media screen and (min-width: 1600px) {
    width: 34px;
    height: 34px;
  }
}

.contactsText {
  font-family: "Hubballi";
  font-weight: 400;
  font-size: 8px;
  line-height: 8px;
  color: #ffffff;
  @media screen and (min-width: 768px) {
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 13px;
  }
  @media screen and (min-width: 1600px) {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 17px;
  }
}

.contactsContent {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  font-size: 6px;
  line-height: 7px;
  color: #000000;

  @media screen and (min-width: 768px) {
    font-size: 13px;
    line-height: 20px;
  }
  @media screen and (min-width: 1600px) {
    font-size: 18px;
    line-height: 22px;
  }
}
