.contacts {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-right: 10px;
  margin-left: auto;
  width: 241px;
  text-align: center;

  @media (min-width: 1560px) {
    width: 680px;
  }
}

.contactsImage {
  margin: 0 auto;
  @media (min-width: 1560px) {
    margin-bottom: 9px;
  }
}

.contactsImage1 {
  width: 17px;
  height: 17px;
}

.contactsImage2 {
  width: 19px;
  height: 22px;
}

.contactsImage3 {
  width: 15px;
  height: 15px;
}

.contactsText {
  font-family: "Hubballi";
  font-weight: 400;
  font-size: 8px;
  line-height: 8px;
  color: #ffffff;
  @media (min-width: 1560px) {
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 17px;
  }
}

.contactsContent {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  font-size: 6px;
  line-height: 7px;
  color: #000000;

  @media (min-width: 1560px) {
    font-size: 18px;
    line-height: 22px;
  }
}
