body {
  font-family: "HelveticaNeueRegular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.container {
  margin: 0px auto;
  padding-left: 13px;
  padding-right: 12px;
  width: 390px;
  @media screen and (min-width: 1560px) {
    width: 1560px;
  }
}
