body {
  font-family: "HelveticaNeueRegular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.container {
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 320px;
  width: 100%;
  //min-content 390px
  //content 100% - 30px

  @media screen and (min-width: 1600px) {
    width: 1600px;
    padding-left: 20px;
    padding-right: 20px;
    //content 1560px
  }
}

.test {
  height: 100px;
  background-color: grey;
}
