body {
  font-family: "HelveticaNeueRegular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.container {
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  width: 1560px;
  // min-width: 320px;

  // @media screen and (min-width: 480px) {
  //   width: 480px;
  // }
  // @media screen and (min-width: 768px) {
  //   width: 768px;
  // }
  // @media screen and (min-width: 1200px) {
    
  // }
}
