.additionalService {
  padding-bottom: 27px;
  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 15px;
  }
  @media screen and (min-width: 1600px) {
    padding-top: 0;
    padding-bottom: 100px;
  }
}

.additionalServiseWrap {
  padding-left: 44px;
  padding-right: 45px;
  @media screen and (min-width: 1600px) {
    padding-left: 55px;
    padding-right: 48px;
  }
}

.additionalServiceTitle {
  margin-bottom: 25px;
  font-family: "Helvetica Neue";
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1600px) {
    display: block;
    margin-bottom: 68px;
    font-size: 32px;
    line-height: 39px;
  }
}

.additionalServiceList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: stretch;
  }
  @media screen and (min-width: 1600px){
    justify-content: center;
  }
}

.additionalServiceItem {
  position: relative;
  padding: 6px 10px 45px 15px;
  width: 100%;
  border-radius: 20px;
  background-color: rgba(55, 37, 20, 0.82);
  &:first-of-type {
    margin-bottom: 23px;
  }
  @media screen and (min-width: 768px) {
    display: block;
    width: 40%;
    height: auto;
    &:first-of-type {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1600px) {
    padding: 25px 40px 40px 40px;
    width: 667px;
    height: 787px;
    
    &:last-child {
      padding-top: 46px;
      margin-left: 122px;
    }
  }
}

.additionalServiceItemTop {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row-reverse;
  @media screen and (min-width: 1600px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}

.additionalServiceItemTitle {
  padding-bottom: 8px;
  font-family: "Helvetica Neue";
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: var(--additional-text-color);
  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 24px;
  }
  @media screen and (min-width: 1600px) {
    font-size: 32px;
    line-height: 39px;
  }
}

.additionalServiceImageTranslation {
  margin-right: 5px;
  width: 42px;
  height: 38px;
  @media screen and (min-width: 1600px) {
    margin-right: 0;
    margin-left: 105px;
    width: 157px;
    height: 151px;
  }
}

.additionalServiceImageDelivery {
  margin-right: 7px;
  margin-bottom: 5px;
  width: 57px;
  height: 36px;
  @media screen and (min-width: 1600px) {
    margin-right: 0;
    margin-left: 18px;
    margin-bottom: 0;
    width: 195px;
    height: 123px;
  }
}

.additionalServiceItemTitleDelivery {
  @media screen and (min-width: 1600px) {
    text-align: center;
  }
}

.additionalServiceItemText {
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
  text-align: justify;
  color: var(--additional-text-color);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 21px;
  }
  @media screen and (min-width: 1600px) {
    font-size: 32px;
    line-height: 38px;
  }
}

.additionalServiceButtonLink {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 139px;
  height: 29px;
  border-radius: 20px;
  background-color: #ffffff;
  @media screen and (min-width: 768px) {
    left: 50%;
    transform: translateX(-50%);
  }
  @media screen and (min-width: 1600px) {
    left: 50%;
    bottom: 38px;
    transform: translateX(-50%);
    width: 350px;
    height: 85px;
  }
}

.additionalServiceButtonText {
  font-family: "Helvetica Neue";
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: var(--main-text-color);
  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 24px;
  }
  @media screen and (min-width: 1600px) {
    font-size: 32px;
    line-height: 39px;
  }
}
