.apostille {
  margin-bottom: 31px;
  @media screen and (min-width: 1600px){
    margin-bottom: 68px;
}
}

.apostilleWrap {
  padding-left: 28px;
  padding-right: 27px;
  @media screen and (min-width: 1600px){
    padding: 0;
  }
}

.apostilleTitle {
  margin-bottom: 9px;
  @media screen and (min-width: 1600px) {
    margin-bottom: 56px;
  }
}

.apostilleContent {
  padding-bottom: 23px;
  border: 4px solid #000000;
  box-shadow: 17px 19px 7px #b68151;
  @media screen and (min-width: 1600px){
    padding-bottom: 39px;
  }
}

.apostilleSubTitle {
  padding: 10px 13px 9px 9px;
  font-family: "Helvetica Neue";  
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;

  @media screen and (min-width: 1600px) {
    padding: 38px 26px 34px 31px;
    font-size: 32px;
    line-height: 38px;
  }
}

.apostilleDescription {
  @media screen and (min-width: 1600px) {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    margin-bottom: 32px;
  }
}

.apostilleTextWrap {
  padding: 13px 19px 20px 15px;
  @media screen and (min-width: 1600px) {
    padding: 34px 25px 40px 31px;
  }
}

.apostilleText {
  font-family: "Helvetica Neue";
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  text-align: justify;
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1600px) {   
    font-size: 32px;
    line-height: 38px;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

.apostilleImageWrap {
  flex-shrink: 0;
  @media screen and (min-width: 1600px) {
    margin-top: 66px;
    margin-right: 48px;
  }
}

.apostileImage {
  margin: 0 auto;
  width: 252px;
  height: 113px;
  @media screen and (min-width: 1600px) {
    width: 464px;
    height: 324px;
  }
}

.apostilleSubText {
  padding-left: 6px;
  padding-right: 10px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #b68151;
  
  @media screen and (min-width: 1600px) {
    padding-left: 135px;
    padding-right: 229px;
    font-size: 32px;
    line-height: 38px;
  }
}