.crmWrap {
  padding: 29px 31px 33px 32px;
  @media screen and (min-width: 1600px) {
    display: flex;
    justify-content: center;
    padding: 62px 62px 68px 31px;
  }
}

.crmFormTitle {
  font-family: "Helvetica Neue";
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  @media screen and (min-width: 1600px) {
    width: 659px;
    font-size: 35px;
    line-height: 43px;
  }
}

.crmScriptWrap {
    @media screen and (min-width: 1600px) {
        margin-right: 88px;
    }
}

.crmImage {
    display: none;
    @media screen and (min-width: 1600px){
        display: block;
        width: 684px;
        height: 844px;
    }
}
