.crmWrap {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    width: 1467px;
    height: 944px;
   
}

.crmFromTitle {
    width: 659px;
    font-family: 'Helvetica Neue';
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
}