.extract {
  padding-bottom: 18px;
  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1600px) {
    padding-bottom: 70px;
  }
}

.extractTitle {
  margin-bottom: 10px;
  @media screen and (min-width: 1600px) {
    margin-bottom: 64px;
  }
}

.extractContent {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.extractImageWrap {  
  display: block;
  margin: 0 auto;
  margin-bottom: 12px;
  border: 10px solid #372306;
  @media screen and (min-width: 768px) {
    margin-right: 60px;
    margin-bottom: 0;
    width: 100%;
  }
  @media screen and (min-width: 1600px) {
    width: 678px;
    height: 543px;
    border: 19px solid #372306;
  }
}

.extractImage {
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

.extractDescription {
  margin: 0 auto;
  text-align: center;
  @media screen and (min-width: 1600px) {
    width: 753px;
    padding-right: 20px;
  }
}

.extractText {
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 21px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 1600px) {
    font-size: 32px;
    line-height: 38px;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
 
}
