.footnote__wrap {
  padding: 20px 39px;
  background-color: var(--brand-color);

  @media screen and (min-width: 1600px) {
    padding: 20px 60px 35px 60px;
  }
}

.footnote__text {
  font-family: "Helvetica Neue";
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: var(--additional-text-color);
  @media screen and (min-width: 1600px) {
    font-size: 35px;
    line-height: 43px;
  }
}
.footnote__text:not(:last-child) {
  margin-bottom: 25px;
  @media screen and (min-width: 1600px) {
    margin-bottom: 50px;
  }
}
