.footnote__wrap{
    padding: 20px 60px 35px 60px;
    background-color: var(--brand-color);
}

.footnote__text {
    font-family: "Helvetica Neue";
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    color: var(--additional-text-color);

}

.footnote__text:not(:last-child) {
    margin-bottom: 50px;    
}