.bgHeaderTop {
  padding-top: 5px;
  background-color: var(--brand-color);
  @media screen and (min-width: 768px) {
    padding-top: 20px;
  }
}

.desktopMenu {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
  }
  @media screen and (min-width: 768px) {
    // margin-left: -20px;
    padding-bottom: 25px;
  }
}
