@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul, ol {
  padding: 0;
  list-style: none;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url(../fonts/HelveticaNeueCyr-Medium.eot);
  src: url(../fonts/HelveticaNeueCyr-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeueCyr-Medium.woff2) format("woff2"), url(../fonts/HelveticaNeueCyr-Medium.woff) format("woff"), url(../fonts/HelveticaNeueCyr-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url(../fonts/HelveticaNeue-Light.eot);
  src: url(../fonts/HelveticaNeue-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeue-Light.woff2) format("woff2"), url(../fonts/HelveticaNeue-Light.woff) format("woff"), url(../fonts/HelveticaNeue-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url(../fonts/HelveticaNeueRegular.eot);
  src: url(../fonts/HelveticaNeueRegular.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeueRegular.woff2) format("woff2"), url(../fonts/HelveticaNeueRegular.woff) format("woff"), url(../fonts/HelveticaNeueRegular.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url(../fonts/HelveticaNeue-Bold.eot);
  src: url(../fonts/HelveticaNeue-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeue-Bold.woff2) format("woff2"), url(../fonts/HelveticaNeue-Bold.woff) format("woff"), url(../fonts/HelveticaNeue-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Hubballi";
  src: url(../fonts/Hubballi-Regular.eot);
  src: url(../fonts/Hubballi-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Hubballi-Regular.ttf) format("truetype"), url(../fonts/Hubballi-Regular.woff) format("woff"), url(../fonts/Hubballi-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
:root {
  --main-text-color: #000000;
  --additional-text-color: #ffffff;
  --brand-color: #B68151A3;
}

body {
  font-family: "HelveticaNeueRegular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.container {
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1560px;
  }
}

header {
  padding-top: 20px;
  background-color: var(--brand-color);
}

.contactsWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: -50px;
  margin-bottom: 24px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 680px;
}

.contactsImage {
  margin: 0 auto;
  margin-bottom: 9px;
}

.contactsText {
  margin-bottom: 8px;
  font-family: "Hubballi";
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: #ffffff;
}

.contactsContent {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.hero {
  display: block;
  margin-bottom: 100px;
  width: 1560px;
}

.heroMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 60px 32px 32px;
  background-color: #fff;
}

.heroText {
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: var(--main-text-color);
}

.languageImage {
  width: 55px;
  height: 32px;
}

.heroContent {
  position: relative;
  display: block;
  padding: 145px 66px;
  width: 1560px;
  height: 590px;
  background-image: url(../images/hero-image.jpg);
}

.heroSlogan {
  margin-bottom: 57px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  color: var(--additional-text-color);
}

.heroButton {
  padding: 24px 28px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: var(--main-text-color);
  border-radius: 29px;
  background-color: #fff;
  cursor: pointer;
}

.heroCardsList {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.heroCardsItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5px;
  width: 390px;
  height: 186px;
  border-radius: 20px;
  background-color: #d0ae90;
}
.heroCardsItem:not(:last-child) {
  margin-right: 104px;
}

.heroCardImage-scales {
  margin-right: 5px;
  width: 100px;
  height: 109px;
}
.heroCardImage-documents {
  margin-right: 5px;
  width: 98px;
  height: 89px;
}
.heroCardImage-lawyers {
  margin-right: 15px;
  width: 79px;
  height: 101px;
}

.heroCardDescription {
  text-align: center;
}

.heroCardTitle {
  margin-bottom: 20px;
  font-family: "Helvetica Neue";
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: var(--main-text-color);
}

.heroCardText {
  font-family: "Helvetica Neue";
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: var(--additional-text-color);
}

.extract {
  padding-top: 50px;
  text-align: center;
}

.sectionTitle {
  margin-bottom: 65px;
  font-family: "Helvetica Neue";
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  color: var(--main-text-color);
}

.extractContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.extractImage {
  margin-right: 102px;
  border: 19px solid #372306;
}

.extractDescription {
  width: 753px;
}

.extractText {
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
}
.extractText:not(:last-child) {
  margin-bottom: 40px;
}

.cardsSection {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}

.cardsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  width: 1449px;
}

.cardsItem {
  margin-bottom: 7px;
  width: 485px;
  height: 330px;
  border: 3px solid #b68151;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cardsItem:nth-child(3n+2) {
  width: 500px;
}
.cardsItem:nth-child(3n+3) {
  width: 450px;
}

.cardsContent {
  padding: 20px;
  width: 100%;
  text-align: center;
}

.cardsImage {
  margin: 0 auto;
}

.cardIcon-guardianship {
  margin-bottom: 20px;
  width: 134px;
  height: 133px;
}
.cardIcon-visa {
  margin-bottom: 30px;
  width: 159px;
  height: 117px;
}
.cardIcon-translation {
  margin-bottom: 20px;
  width: 134px;
  height: 126px;
}
.cardIcon-breafcase {
  margin-bottom: 42px;
  width: 133px;
  height: 130px;
}
.cardIcon-weapon {
  margin-bottom: 5px;
  width: 144px;
  height: 144px;
}
.cardIcon-paycard {
  width: 128px;
  height: 136px;
}
.cardIcon-passport {
  margin-bottom: 35px;
  width: 150px;
  height: 162px;
}
.cardIcon-handsnake {
  width: 153px;
  height: 136px;
}
.cardIcon-capitoly {
  margin-bottom: 25px;
  width: 158px;
  height: 163px;
}

.cardsText {
  margin: 0 auto;
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
}
.cardsText-guardianship {
  width: 386px;
}
.cardsText-visa {
  width: 394px;
}
.cardsText-translation {
  width: 397px;
}
.cardsText-breafcase {
  width: 377px;
}
.cardsText-weapon {
  width: 386px;
}
.cardsText-paycard {
  width: 387px;
}
.cardsText-passport {
  width: 386px;
}
.cardsText-handsnake {
  width: 384px;
}
.cardsText-capitoly {
  width: 386px;
}

.footnote__wrap {
  padding: 20px 60px 35px 60px;
  background-color: #b68151;
}

.footnote__text {
  font-family: "Helvetica Neue";
  font-weight: 500;
  font-size: 35px;
  line-height: 43px;
  text-align: center;
  color: var(--additional-text-color);
}

.footnote__text:not(:last-child) {
  margin-bottom: 50px;
}

.crmWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  width: 1467px;
  height: 944px;
}

.crmFromTitle {
  width: 659px;
  font-family: "Helvetica Neue";
  font-weight: 500;
  font-size: 35px;
  line-height: 43px;
  text-align: center;
}/*# sourceMappingURL=main.css.map */